<footer id="footer" class="footer_error container-fluid">
    <div class="text-center">
        <br>
        <img  src="/static/images/author.png" >
    </div>
    <div class=" docs text-center mail_me" >
        <br>
        <a onfocus="this.blur()" href="mailto:343557342@qq.com">
        <img id="mail" src="/static/images/mail.png" alt="email" width="90px" height="90px">
        </a>
    </div>
    <div class="copy_right">
        <p>Copyright © 2013-2014 zz8789.com All rights reserved.</p>
    </div>
</footer>