<footer id="footer" class="footer">
    <div id="footor" class="container-fluid footer">
        <div class="text-center">
            <br>
            <img id="author_id" src="/static/images/author.png" >
        </div>
        <div class=" docs text-center mail_me" >
            <br>
            <a onfocus="this.blur()" href="mailto:343557342@qq.com">
            <img id="mail" src="/static/images/mail.png">
            </a>
        </div>
        <div class="copy_right">
            <p>Copyright © 2013-2014 CC8789.net All rights reserved.</p>
        </div>
    </div>
</footer>