{% extends "common/base.html" %}

{% block css1 %}
    <link rel="stylesheet" href="/static/css/index.css" >
{% endblock %}

{% block javascript1 %}
    <script type="text/javascript" src="/static/js/index.js" ></script>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="content-top"></div>
        <div class="am-g am-g-fixed content-banner" data-am-scrollspy="{animation: 'scale-up', delay: 10, repeat: false}">
            <div class="am-u-sm-6 am-u-md-8 am-u-lg-8 am-article">
                <h1 class="am-article-title am-monospace">Introduction(Aboutme)</h1>
                <hr/>
            <blockquote>
                <p>对于一名从事多年Python开发的开发者来说，亲手创建一个自己的网站是件让人欣喜的是事情。
                        体验过挫折和坎坷，经历过成功与失败，使得我能够以更加成熟的性格和更加理性的头脑来面
                        对未来的挑战。年轻是我最大的资本，在年轻的季节我甘愿吃苦受累，只愿通过自己富有激情、积极
                        主动的努力实现自身价值，证明自己。本站是设计之初定为是一个博客，后来又再次基础思路上做了
                        很多改动，就当做是自己一次实验吧。</p>
                <small>—— 曹国伟</small>
            </blockquote>
            </div>
            <div class="am-u-sm-6 am-u-md-4 am-u-lg-4">
                <img class="am-img-responsive am-img-thumbnail am-circle" src="/static/images/logo.png" alt="pic"/>
            </div>
        </div>
        <div class="content-center">
            <div class="content-center-cell content-center-1">
                <h1 data-am-scrollspy="{animation: 'slide-left', delay: 100, repeat: false}">Why did we come to this world?</h1>
            </div>
            <div class="am-g am-g-fixed content-center-cell content-center-2">
                <div class="am-u-sm-4 am-u-md-4 am-u-lg-4" data-am-scrollspy="{animation: 'slide-top', delay: 1000, repeat: false}">
                    <div class="am-thumbnail">
                        <img src="/static/images/thumbnail-0.jpg" alt=""/>
                        <div class="am-thumbnail-caption">
                            <h3 class="am-thumbnail-caption">为了实现价值</h3>
                            <p>每个人都是这个世界的一份子，既然来到这个多彩的世界，就将自身的价值留下吧。</p>
                        </div>
                    </div>
                </div>
                <div class="am-u-sm-4 am-u-md-4 am-u-lg-4" data-am-scrollspy="{animation: 'slide-top', delay: 1250, repeat: false}">
                    <div class="am-thumbnail">
                        <img src="/static/images/thumbnail-1.jpg" alt=""/>
                        <div class="am-thumbnail-caption">
                            <h3 class="am-thumbnail-caption">为了挑战极限</h3>
                            <p>活出精彩，让自己不断处于生命的边缘，去达到那种临界的心境，获取另一种灵魂境界的升华</p>
                        </div>
                    </div>
                </div>
                <div class="am-u-sm-4 am-u-md-4 am-u-lg-4" data-am-scrollspy="{animation: 'slide-top', delay: 1500, repeat: false}">
                    <div class="am-thumbnail">
                        <img src="/static/images/thumbnail-2.jpg" alt=""/>
                        <div class="am-thumbnail-caption">
                            <h3 class="am-thumbnail-caption">为了获取成功</h3>
                            <p>成功？失败？这两种状态真的是不好区分，其实只有一种情况是我们应该追求的，那就是进步。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-center-cell content-center-3"></div>
            <div class="content-center-cell content-center-4">
                <div class="content-center-4-notebook">
                    <h1 data-am-scrollspy="{animation: 'slide-right', delay: 500, repeat: false}">想法，比如：</h1>
                    <div class="am-g am-g-fixed content-center-4-notebook-cell" >
                        <div class="am-u-sm-4 am-u-md-4 am-u-lg-4" data-am-scrollspy="{animation: 'slide-left', delay: 500, repeat: false}">
                            <article class="am-article">
                                <div class="am-article-hd">
                                    <h1 class="am-article-title">工具网站|工具之家</h1>
                                    <p class="am-g am-article-meta">
                                        <span class="am-u-sm-6 am-u-md-6 am-u-lg-6">开发者：曹国伟</span>
                                        <span class="am-u-sm-6 am-u-md-6 am-u-lg-6">上线时间：未确定</span>
                                    </p>
                                </div>
                                <div class="am-article-bd">
                                    <p class="am-article-lead-index">这个网站主要的功能是：<br>
                                        1、以在线或者提供接口的方式给用户提供数据分析，数据加密，MD5加密/解密，Base64加密/解密等一系列加密服务。<br/>
                                        2、用户可以在网站获取自己想要的工具，包括教育，金融，科技等领域。<br/>
                                        3、用户可以在网站使用一些网站工具，包括格式转换，IP获取等。<br/>
                                        4、网站目前还在开发阶段，等待上线。
                                    </p>
                                </div>
{#                                <hr class="am-article-divider"/>#}
                            </article>
                        </div>
                        <div class="am-u-sm-4 am-u-md-4 am-u-lg-4"  data-am-scrollspy="{animation: 'slide-left', delay: 700, repeat: false}">
                            <article class="am-article">
                                <div class="am-article-hd">
                                    <h1 class="am-article-title">综合新闻网站|诸子</h1>
                                    <p class="am-g am-article-meta">
                                        <span class="am-u-sm-6 am-u-md-6 am-u-lg-6">开发者：曹国伟</span>
                                        <span class="am-u-sm-6 am-u-md-6 am-u-lg-6">上线时间：未确定</span>
                                    </p>
                                </div>
                                <div class="am-article-bd">
                                    <p class="am-article-lead-index">这个网站主要的功能是：<br>
                                        1、用户在打开网站时，会得到我们推送的最新的各界新闻，登陆的用户可以在设置中配置自己的喜好，我们会推送给用户喜爱的咨询<br/>
                                        2、咨询包括方方面面，包括国际、科技、社会、八卦等。<br/>
                                        3、我们根据用户经常浏览的感兴趣的新闻会在推送时按用户的喜好来推送相关咨询，达到很高的用户体验。
                                    </p>
                                </div>
{#                                <hr class="am-article-divider"/>#}
                            </article>
                        </div>
                        <div class="am-u-sm-4 am-u-md-4 am-u-lg-4" data-am-scrollspy="{animation: 'slide-left', delay: 1000, repeat: false}">
                            <article class="am-article">
                                <div class="am-article-hd">
                                    <h1 class="am-article-title">个人网站|博客</h1>
                                    <p class="am-g am-article-meta">
                                        <span class="am-u-sm-6 am-u-md-6 am-u-lg-6">开发者：曹国伟</span>
                                        <span class="am-u-sm-6 am-u-md-6 am-u-lg-6">上线时间：已上线</span>
                                    </p>
                                </div>
                                <div class="am-article-bd">
                                    <p class="am-article-lead-index">这个网站主要的功能是：<br>
                                        1、这个网站主页是开发者一个个人博客，包含了其他网站的入口。<br/>
                                        2、博客内容主要是博文，也就是开发者自己的一些心得体会，随笔。<br/>
                                        3、记录的这些心得、随笔时，既能给自己备忘一下，同时也希望给遇到同样问题，并看到博文的人一些解决困难的思路。<br/>
                                        4、网站目前还在开发阶段，等待上线。
                                    </p>
                                </div>
{#                                <hr class="am-article-divider"/>#}
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-timeline">
            <h1>网站成长记 | Website Landmark</h1>
            <hr style="border-color: #7f7f80"/>
            <ul>
                <li>2015年06月03日 | 偶然一个想法跑到大脑里，开始了创建自己网站的旅程，由于工作繁忙，计划一度搁置，功能及工作都是片段开发的。</li>
                <li>2015年07月02日 | 第一个版本部署到新浪SAE开发者平台，只有简单的介绍和博客功能。</li>
                <li>2015年07月10日 | 新浪SAE所有拓展功能部署完成，后续可以直接使用svn上传更新来完善网站功能了。</li>
                <li>2015年07月20日 | 上传了第一个完整的更新版本，功能没添加，不过全部做了完善和更新。</li>
                <li>2015年08月30日 | 增加了标签页面，显示目前所有的标签功能。</li>
                <li>2015年08月31日 | 增加了工具站页面，网站结构做了较大的改变。</li>
                <li>2015年09月08日 | 增加第一个工具小工具。</li>
                <li>2015年10月22日 | 最经工作忙，没来及的更新，现在增加一个新的功能:<strong>网站导航</strong>。</li>
                <li>2015年12月08日 | 做了点小小更新。继续努力( ⊙o⊙ )</li>
                <li>2015年12月23日 | 今日将网站导航做了优化，同时优化了在移动端体验效果（¯﹃¯）口水</li>
                <li>2015年12月23日 | 将网站博文列表显示更新为部分加载。╮(╯▽╰)╭</li>
                <li>2016年01月04日 | 新年第一次更新，增加了小玩意，一款HTML5的特效，新年快乐，O(∩_∩)O哈哈~</li>
                <li>2016年01月05日 | 今日做了移动端优化。</li>
            </ul>
        </div>
        <div class="content-bottom am-kai">
            <div>
                <img class="content-bottom-touch" src="/static/images/touch_b.png">
            </div>
            <div >
                <h3>宗旨，始终如一的坚持。</h3>
            </div>
        </div>
    </div>
{% endblock %}

